In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import seaborn as sns

df = pd.read_csv('C:/Users/admin/Downloads/student_100items_answers_and_key.csv')
df

    Item StudentAnswer AnswerKey
0      1             B         A
1      2             E         A
2      3             E         C
3      4             C         B
4      5             E         B
..   ...           ...       ...
95    96             E         D
96    97             B         D
97    98             E         B
98    99             B         C
99   100             A         B

[100 rows x 3 columns]

In [3]:
df['comparison'] = df['AnswerKey'] == df['StudentAnswer'] 

df

    Item StudentAnswer AnswerKey  comparison
0      1             B         A       False
1      2             E         A       False
2      3             E         C       False
3      4             C         B       False
4      5             E         B       False
..   ...           ...       ...         ...
95    96             E         D       False
96    97             B         D       False
97    98             E         B       False
98    99             B         C       False
99   100             A         B       False

[100 rows x 4 columns]

In [14]:
math_sc = df.iloc[0:25]
# print(math_sc)
sum_value = math_sc['comparison'].sum()
print(f"Math Score:", sum_value)

logic_sc = df.iloc[25:50]
# print(logic_sc)
sum_value = logic_sc['comparison'].sum()
print(f"Logic Score:", sum_value)

eng_sc = df.iloc[50:75]
# print(eng_sc)
sum_value = eng_sc['comparison'].sum()
print(f"English Score:", sum_value)

read_sc = df.iloc[75:100]
# print(read_sc)
sum_value = read_sc['comparison'].sum()
print(f"Reading Comprehension Score:", sum_value)

Math Score: 4
Logic Score: 9
English Score: 1
Reading Comprehension Score: 7