In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df_interest = pd.read_csv("processed_interest_data.csv")
df_interest

,Department,Gender,HSC,SSC,Income,Hometown,Computer,Preparation,Gaming,Attendance,...,English,Extra,Semester,Last,Overall,Track,Extra_flag,Attendance_flag,cluster,Interest_in_IT
0,Business Administration,Male,4.17,4.84,"Low (Below 15,000)",Village,3,More than 3 Hours,0-1 Hour,80%-100%,...,3,Yes,6th,3.220,3.350,ABM,1,1,1,False
1,Business Administration,Female,4.92,5.00,"Upper middle (30,000-50,000)",City,3,0-1 Hour,0-1 Hour,80%-100%,...,3,Yes,7th,3.467,3.467,ABM,1,1,1,False
2,Business Administration,Male,5.00,4.83,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,More than 3 Hours,80%-100%,...,4,Yes,3rd,4.000,3.720,ABM,1,1,1,False
3,Business Administration,Male,4.00,4.50,"High (Above 50,000)",City,5,More than 3 Hours,More than 3 Hours,80%-100%,...,5,Yes,4th,3.800,3.750,ABM,1,1,1,False
4,Business Administration,Female,2.19,3.17,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,2-3 Hours,80%-100%,...,3,Yes,4th,3.940,3.940,ABM,1,1,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,Public Health,Male,3.50,4.00,"Lower middle (15,000-30,000)",Village,2,More than 3 Hours,2-3 Hours,40%-59%,...,2,Yes,7th,3.250,3.100,STEM,1,0,0,False
489,Public Health,Male,4.50,4.00,"Upper middle (30,000-50,000)",City,4,2-3 Hours,2-3 Hours,60%-79%,...,3,Yes,9th,3.500,3.670,STEM,1,0,0,False
490,Sociology,Female,4.56,3.67,"Lower middle (15,000-30,000)",City,3,0-1 Hour,2-3 Hours,40%-59%,...,2,No,2nd,3.560,3.560,HUMSS,0,0,0,False
491,Sociology,Male,4.23,4.50,"Low (Below 15,000)",Village,3,More than 3 Hours,2-3 Hours,80%-100%,...,3,Yes,10th,3.610,3.750,HUMSS,1,1,1,False
492,Sociology,Female,3.83,5.00,"Lower middle (15,000-30,000)",Village,3,More than 3 Hours,2-3 Hours,80%-100%,...,4,Yes,12th,4.000,3.860,HUMSS,1,1,1,False

In [3]:
df_perf = pd.read_csv("processed_clusters.csv")
df_perf

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Cluster,cluster
0,female,group B,bachelor's degree,standard,none,72,72,74,0,0
1,female,group C,some college,standard,completed,69,90,88,2,2
2,female,group B,master's degree,standard,none,90,95,93,2,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,1,1
4,male,group C,some college,standard,none,76,78,75,2,2
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,2,2
996,male,group C,high school,free/reduced,none,62,55,55,1,1
997,female,group C,high school,free/reduced,completed,59,71,65,0,0
998,female,group D,some college,standard,completed,68,78,77,0,0
999,female,group D,some college,free/reduced,none,77,86,86,2,2

In [ ]:
df_interest['performance_group'] = np.random.choice(['High', 'Average', 'Low'], len(df_interest))

print(df_interest.head())

                Department  Gender   HSC   SSC                        Income  \
0  Business Administration    Male  4.17  4.84            Low (Below 15,000)
1  Business Administration  Female  4.92  5.00  Upper middle (30,000-50,000)
2  Business Administration    Male  5.00  4.83  Lower middle (15,000-30,000)
3  Business Administration    Male  4.00  4.50           High (Above 50,000)
4  Business Administration  Female  2.19  3.17  Lower middle (15,000-30,000)

  Hometown  Computer        Preparation             Gaming Attendance  ...  \
0  Village         3  More than 3 Hours           0-1 Hour   80%-100%  ...
1     City         3           0-1 Hour           0-1 Hour   80%-100%  ...
2  Village         3           0-1 Hour  More than 3 Hours   80%-100%  ...
3     City         5  More than 3 Hours  More than 3 Hours   80%-100%  ...
4  Village         3           0-1 Hour          2-3 Hours   80%-100%  ...

  Extra  Semester   Last Overall  Track  Extra_flag Attendance_flag  cluster  \
0   Yes       6th  3.220   3.350    ABM           1               1        1
1   Yes       7th  3.467   3.467    ABM           1               1        1
2   Yes       3rd  4.000   3.720    ABM           1               1        1
3   Yes       4th  3.800   3.750    ABM           1               1        1
4   Yes       4th  3.940   3.940    ABM           1               1        0

   Interest_in_IT  performance_group
0           False                Low
1           False            Average
2           False                Low
3           False                Low
4           False            Average

[5 rows x 22 columns]

In [14]:
le_perf = LabelEncoder()
le_track = LabelEncoder()

df_interest['performance_encoded'] = le_perf.fit_transform(df_interest['performance_group'])
df_interest['track_encoded'] = le_track.fit_transform(df_interest['Track'])
df_interest

,Department,Gender,HSC,SSC,Income,Hometown,Computer,Preparation,Gaming,Attendance,...,Last,Overall,Track,Extra_flag,Attendance_flag,cluster,Interest_in_IT,performance_group,performance_encoded,track_encoded
0,Business Administration,Male,4.17,4.84,"Low (Below 15,000)",Village,3,More than 3 Hours,0-1 Hour,80%-100%,...,3.220,3.350,ABM,1,1,1,False,Low,2,0
1,Business Administration,Female,4.92,5.00,"Upper middle (30,000-50,000)",City,3,0-1 Hour,0-1 Hour,80%-100%,...,3.467,3.467,ABM,1,1,1,False,Average,0,0
2,Business Administration,Male,5.00,4.83,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,More than 3 Hours,80%-100%,...,4.000,3.720,ABM,1,1,1,False,Low,2,0
3,Business Administration,Male,4.00,4.50,"High (Above 50,000)",City,5,More than 3 Hours,More than 3 Hours,80%-100%,...,3.800,3.750,ABM,1,1,1,False,Low,2,0
4,Business Administration,Female,2.19,3.17,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,2-3 Hours,80%-100%,...,3.940,3.940,ABM,1,1,0,False,Average,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,Public Health,Male,3.50,4.00,"Lower middle (15,000-30,000)",Village,2,More than 3 Hours,2-3 Hours,40%-59%,...,3.250,3.100,STEM,1,0,0,False,Low,2,2
489,Public Health,Male,4.50,4.00,"Upper middle (30,000-50,000)",City,4,2-3 Hours,2-3 Hours,60%-79%,...,3.500,3.670,STEM,1,0,0,False,High,1,2
490,Sociology,Female,4.56,3.67,"Lower middle (15,000-30,000)",City,3,0-1 Hour,2-3 Hours,40%-59%,...,3.560,3.560,HUMSS,0,0,0,False,Low,2,1
491,Sociology,Male,4.23,4.50,"Low (Below 15,000)",Village,3,More than 3 Hours,2-3 Hours,80%-100%,...,3.610,3.750,HUMSS,1,1,1,False,High,1,1
492,Sociology,Female,3.83,5.00,"Lower middle (15,000-30,000)",Village,3,More than 3 Hours,2-3 Hours,80%-100%,...,4.000,3.860,HUMSS,1,1,1,False,High,1,1

In [27]:
X = df_interest[['Interest_in_IT', 'performance_encoded']]
y = df_interest['track_encoded']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')
model.fit(X_train, y_train)

accuracy = model.score(X_test, y_test)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.96

In [28]:
new_student = pd.DataFrame({
    'Interest_in_IT': [0.8],
    'performance_encoded': [le_perf.transform(['Low'])[0]]
})

predicted_track = le_track.inverse_transform(model.predict(new_student))
print("Predicted Track:", predicted_track[0])

Predicted Track: STEM

In [22]:
print(df_interest['Track'].value_counts())

Track
STEM     446
HUMSS     38
ABM        9
Name: count, dtype: int64